* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
/* .header-container {
  display: flex;
  align-items: center;
} */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

/* .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
} */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.logo-part {
  color: #2e2f42;
}

/* .nav-list {
  display: flex;
  gap: 40px;
} */

.nav-list {
  display: none;
}

/* .contacts {
  font-style: normal;
  margin-left: auto;
} */

.contacts {
  font-style: normal;
  margin-left: auto;
  display: none;
}

/* .address-list {
  display: flex;
  gap: 40px;
} */

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item:hover {
    color: #404bbf;
  }
  .menu-item:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .contacts {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* МЕНЮШКА ДО ТЕЛЕФОНУ */
.mob-menu {
  background: #fff;
  padding: 72px 16px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  pointer-events: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  flex-grow: 1;
}

.mob-nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav.current {
  color: #404bbf;
}

.mob-nav {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-items: center;
  color: #2e2f42;
}
.mob-adress-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 48px;
}
.mob-address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-contacts.current {
  color: #4d5ae5;
}

.mob-address-contacts {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-socialnet-list {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

/* МЕНЮШКА ДО ТЕЛЕФОНУ. КІНЕЦЬ */

/* HERO-SECTOIN */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image-tel.jpg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-tel-2x.jpg");
  }
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  min-width: 169px;
  border-radius: 4%;
  display: block;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-tablet.jpg");

    max-width: 768px;

    padding-top: 112px;
    padding-bottom: 112px;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-image-tablet-2x.jpg");
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;

    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image.jpg");

    max-width: 1440px;

    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-image-2x.jpg");
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* FEATURES */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-vse {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-width {
  width: calc((100% - 3 * 24px) / 4);
}

.feature-icon-place {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  background-color: #f4f4fd;
  margin-bottom: 8px;
}

/*.same-icon {
}*/

.feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
} /*hover */

.item-pidpys {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.place {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #fff;
  margin-bottom: 8px;
}

.socialnet-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socialnet-list-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf; /*правильний колір #31d0aa */
}

.soc-icon {
  fill: #f4f4fd;
}

.portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .port-hidden-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-hide-zone {
  position: relative;
  overflow: hidden;
}

.port-hidden-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-left: 32px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-pidpys {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.port-place {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-transform: capitalize;
}

.foot {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-all {
  display: flex;
  align-items: baseline;
}

.footer-first-collon {
  margin-right: 120px;
}

.foot-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.foot-logo-part {
  color: #f4f4fd;
}

.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socialnet-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.third-collon {
  margin-left: 80px;
}

.third-collon-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.foot-form {
  display: flex;
  gap: 24px;
}

.email-foot-form {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.foot-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 165px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
}

.foot-form-btn:focus,
.foot-form-btn:hover {
  background: #404bbf;
}

.foot-telegram {
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
}

/* .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-body {
  margin-bottom: 8px;
}
.form-label {
  display: block;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input-wrap {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}
.form-comment {
  margin-bottom: 16px;
}

.form-comment-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment-area:focus {
  border-color: #4d5ae5;
}

.form-check {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-text-span {
  margin-right: 8px;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check:focus + .check-text span {
  border-color: #4d5ae5;
}

.privacy-policy {
  color: #4d5ae5;
}

.form-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  margin: 0 auto;
}

.form-send-btn:focus,
.form-send-btn:hover {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  /* .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  } */

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  /* .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  } */
}
